body {
    margin: 0;
    font-family: sans-serif;
    background: #242424;
}

h1 {
    font-size: 100px;
    color: whitesmoke;
}

h2 {
    background: black;
    color: red;
    padding: 50px 30px;
    font-size: 80px;
}

button {
    width: 80px;
    border-radius: 5px;
    border: 3px solid whitesmoke;
    background: #3a1a6c;
    color: whitesmoke;
    padding: 20px;
    transition: 1s;
}


.reset-home {
    width: 150px;
    margin-top: 30px;
}

.reset-guest {
    width: 150px;
    margin-top: 30px;
}

.score-btn-wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.wrapper {
    text-align: center;
}

#gameSet-element {
    font-size: 30px;
}

#middle-btn {
    margin-top: 20rem;
    width: 100px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 60px; 
    }

    h2 {
        font-size: 40px; 
        padding: 20px 15px;
    }

    button {
        width: 80px; 
        padding: 12px;
    }
    
    .container {
        margin-top: 30px;
    }

    .score-btn-wrapper {
        display: inline;
    }

    .reset-home, .reset-guest {
        width: 120px; 
    }

    #gameSet-element {
        font-size: 22px; 
    }

    #middle-btn {
        width: 90px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 40px; 
    }

    h2 {
        font-size: 30px; 
        padding: 15px 10px; 
    }

    button {
        width: 60px; 
        padding: 10px; 
    }

    .reset-home, .reset-guest {
        width: 100px; 
        margin-top: 10px;
    }

    .score-btn-wrapper {
        flex-direction: column; 
        align-items: center; 
    }

    .container {
        flex-direction: column; 
        align-items: center;
    }

    #gameSet-element {
        font-size: 18px; 
    }

    #middle-btn {
        margin-top: 3rem; 
        width: 70px; 
    }
}
